*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    background-color: white;
}

#logo-bull {
    height: 50px;
    width: 50px;
}

.sidebarmenu {
    background-color: darkred;
    width: 10%;
    height: 100vh;
}