/* configs gerais */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}

body {
    background-color: #F9E8C6;
    height: 100vh;
}

/* configs da barra lateral */

nav.menu-lateral {
    width: 70px;
    height: 100vh;
    background-color: white;
    padding: 40px 1% 40px 1%;
    border-radius: 0px 18px 18px 0px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;    
}

nav.menu-lateral.expandir {
    width: 200px;
}

.btn-expandir.expandir {
    padding-left: 50px;
}

.btn-expandir {
    width: 100%;
    padding-left: 5px;
}

.btn-expandir i {
    color: #2A9D8F;
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 45px;
}

ul li.item-menu a {
    font-family: "Montserrat", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 20px 4%;
    display: flex;
    align-items: center;
    justify-items: center;
}

ul li.ativo {
    background-color: #2A9D8F;
    border-radius: 15px;
    transition: .2;
}

ul li.item-menu:hover:not(.ativo){
    background-color: rgb(209, 202, 202);
    border-radius: 15px;
    transition: .2;
}

ul li.item-menu a .txt-link-menu-lat {
    margin-left: 50px;
    transition: .2s;
}

nav.menu-lateral.expandir .txt-link-menu-lat {
    margin-left: 20px;
}



