* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

/* header da lp */


.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #2A9D8F;
}
.navbar .logolp {
    width: 300px;
    height: 50px;
}

.navbar-itens {
    display: flex;
    gap: 30px;
}

.navbar-item {
    cursor: pointer;
}

.main-content {
    height: 100dvh;
    background-color: #F9E8C6;
}